* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
  overflow-y: scroll;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.box {
  height: 300px;
  width: 300px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info h5 {
  text-transform: capitalize;
  font-size: 20px;
}

.box img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.account  {
  width: 1920px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 80px;
  align-items: center;
}

.account p {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 20px;
  row-gap: 5px;
  align-items: center;
  justify-content: center;
  font-weight: 500;

}

.acc_details  {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-between;

}

.acc_details input{
  height: 50px;
  width: 180px;
  padding: 0 20px;
  border-radius: 25px;
  border: none ;
  outline: none;
  font-size: 15px;
}

.acc_details button{
  height: 50px;
  width: 120px;
  text-transform: capitalize;
  border-radius: 5px;
  background-color: lightcoral;
  border: none;
  outline: none;
  cursor: pointer;
}

.member_details{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
 }

 .member_details button {
  height: 50px;
  width: 120px;
  text-transform: capitalize;
  border-radius: 5px;
  background-color: lightcoral;
  border: none;
  outline: none;
  cursor: pointer;
 }